@media screen and (max-width:991px){
    #header-section{
        height: auto;
    }
    .header-content{
        padding: 10rem 0;
    }
    .header-content{
        text-align: center !important;
    }
    .navbar-collapse{
        background-color: #1c294a;
        margin: 2rem 0 1rem 0;
        padding: 1rem 0;
        border-radius: .3rem;
        -webkit-border-radius: .3rem;
        -moz-border-radius: .3rem;
        -ms-border-radius: .3rem;
        -o-border-radius: .3rem;
}
    .dropdown-menu{
        margin-top: 0;
        margin: 0 1.5rem;
        border-radius: .3rem !important;
        -webkit-border-radius: .3rem !important;
        -moz-border-radius: .3rem !important;
        -ms-border-radius: .3rem !important;
        -o-border-radius: .3rem !important;
        padding: .7rem 0 !important;
    }
    .nav-link{
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    #subscription-section{
        text-align: center;
    }
    footer{
        text-align: center;
    }
}
@media screen and (max-width:575px){
    .header-content h1{
        font-size: 4.5rem;
    }
    .button{
        padding: 1rem 1.7rem;
        font-size: 1.4rem;
    }
    .section{
        padding: 7rem 0;
    }
    .heading{
        font-size: 3.5rem;
    }
    .features{
        padding: 1rem 2rem;
    }
}

/* Responsive Header-section */
@media screen and (min-width:992px){
    .header-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        width: 960px;
        margin: auto !important;
    }
}
@media screen and (min-width:1200px){
    .header-content{
        width: 1140px;
    }
}
